@charset "UTF-8";

/* top --------------------*/
.top {
  background-image: url(../img/about-top.png);
  background-size: cover;
  background-position: 70% 70%;
}

/* greeting ---------------*/

.greeting-wrapper__block {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.greeting-wrapper__block__con {
  width: 48%;
  margin-left: 4%;
}

.greeting-wrapper__block__con__signature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8%;
}

.greeting-wrapper__block__con__line {
  margin: 2rem 0;
}

.greeting-wrapper__block__con__txt__margin {
  margin: 1.2rem 0;
}

.greeting-wrapper__block__img {
  position: relative;
}

.greeting-wrapper__block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.greeting-wrapper__block__img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #437BD1;
  position: absolute;
  top: 0.8rem;
  left: -1.2rem;
  z-index: -1;
}

.greeting-wrapper__block__con__signature__position {
  margin-right: 1.2rem;
}

.greeting-wrapper__block__con__signature__name p {
  font-weight: 700;
}

.greeting-wrapper__block__con__ttl h3 {
  font-size: 2rem;
}

/* overview ------------------------------*/
.overview-wrapper__con {
  width: 100%;
}

.overview-wrapper__con__block {
  width: 100%;
  height: 4.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #CECECE;
}

.overview-wrapper__con__block:last-child {
  border-bottom: 1px solid #CECECE;
}

.overview-wrapper__con__block__item {
  width: 20%;
  height: 100%;
  background-color: #D6E1F3;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

.overview-wrapper__con__block__txt {
  width: 80%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

/* access --------------------------*/
.access {
  background-color: #EBEBEB;
}
.access-wrapper__map {
  width: 100%;
}

.access-wrapper__map iframe {
  width: 100%;
}

.access-wrapper__con {
  margin-top: 4rem;
}

.access-wrapper__con__block {
  margin-top: 4rem;
}

.access-wrapper__con__block__ttl h3 {
  font-size: 1.8rem;
}

.access-wrapper__con__block__line {
  margin: 1rem 0;
}

/* レスポンシブ ------------------------*/
@media screen and (min-width:1024px) {
  .greeting-wrapper__block__con__ttl h3 {
    font-size: 2.4vw;
  }
}

@media screen and (max-width:1024px) {
  .greeting-wrapper__block__con__ttl h3 {
    font-size: 2rem;
  }
  .greeting-wrapper__block {
    display: block;
    width: 70%;
  }

  .greeting-wrapper__block__img {
    width: 100%;
    height: 28rem;
    margin: 0 auto;
  }

  .greeting-wrapper__block__img img {
    width: 100%;
    object-position: 32% 0%;
  }

  .greeting-wrapper__block__con {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}

@media screen and (max-width:768px) {
  .greeting-wrapper__block {
    width: 100%;
  }

  .greeting-wrapper__block__img {
    height: 28rem;
  }

  .overview-wrapper__con__block__item {
    width: 28%;
  }

  .access-wrapper__con__block {
    text-align: center;
  }

  .access-wrapper__con__block__line {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:480px) {
  .greeting-wrapper__block__img {
    height: 20rem;
  }

  .access-wrapper__con__block__ttl h3 {
    font-size: 1.6rem;
  }

  .greeting-wrapper__block__con__ttl h3 {
    font-size: 1.6rem;
  }

  .overview-wrapper__con__block {
    display: block;
    width: 100%;
    height: 100%;
  }

  .overview-wrapper__con__block__item {
    width: auto;
    line-height: 4;
    display: block;
    padding-left: 0.8rem;
  }

  .overview-wrapper__con__block__txt {
    width: auto;
    line-height: 4;
    display: block;
    padding-left: 0.8rem;
  }

  .overview-wrapper__con__block__txt.__service {
    line-height: 2;
  }
}